.header-container {
  height: 50px;
}

.header-container .navbar-brand {
  margin-top: 10px;
}

.header-container .navbar-brand a {
  text-decoration: none;
  color: #fff;
}

.header-container .navbar-brand a .logo {
  float: left;
}

.header-container .navbar-brand a .logo img {
  width: 60px;
}

.header-container .navbar-brand a .info {
  float: left;
  margin-left: 10px;
}

.header-container .navbar-brand a .info .name {
  font-size: 1.5em;
  font-weight: 900;
}

.header-container .navbar-brand a .info .designation {
  font-size: 0.8em;
}

body {
  background-color: #ddd;
  font-family: "Open Sans", sans-serif;
}